<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="ModeloBDContainer" connectionString="metadata=res:///ModeloBD.csdl|res:///ModeloBD.ssdl|res://*/ModeloBD.msl;provider=System.Data.SqlClient;provider connection string='data source=AXELLUNA\SQLEXPRESS;initial catalog=juegoBd;user id=adminJuego;password=&quot;1234 lm&quot;;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_IGestionCuentaServicio">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_ISalaEsperaServicio">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IGestorAmistad">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IGestorDeSolicitudesDeAmistad">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IGestorUsuariosConectados">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IServicioPartida">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IGestorInvitacion">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IEstadisticasGlobales">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://localhost:8000/ServiceImplementation/Service" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGestionCuentaServicio" contract="ServicioDelJuego.IGestionCuentaServicio" name="NetTcpBinding_IGestionCuentaServicio" />
			<endpoint address="net.tcp://localhost:8000/ServiceImplementation/Service" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISalaEsperaServicio" contract="ServicioDelJuego.ISalaEsperaServicio" name="NetTcpBinding_ISalaEsperaServicio" />
			<endpoint address="net.tcp://localhost:8000/ServiceImplementation/Service" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGestorAmistad" contract="ServicioDelJuego.IGestorAmistad" name="NetTcpBinding_IGestorAmistad" />
			<endpoint address="net.tcp://localhost:8000/ServiceImplementation/Service" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGestorDeSolicitudesDeAmistad" contract="ServicioDelJuego.IGestorDeSolicitudesDeAmistad" name="NetTcpBinding_IGestorDeSolicitudesDeAmistad" />
			<endpoint address="net.tcp://localhost:8000/ServiceImplementation/Service" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGestorUsuariosConectados" contract="ServicioDelJuego.IGestorUsuariosConectados" name="NetTcpBinding_IGestorUsuariosConectados" />
			<endpoint address="net.tcp://localhost:8000/ServiceImplementation/Service" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioPartida" contract="ServicioDelJuego.IServicioPartida" name="NetTcpBinding_IServicioPartida" />
			<endpoint address="net.tcp://localhost:8000/ServiceImplementation/Service" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGestorInvitacion" contract="ServicioDelJuego.IGestorInvitacion" name="NetTcpBinding_IGestorInvitacion" />
			<endpoint address="net.tcp://localhost:8000/ServiceImplementation/Service" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEstadisticasGlobales" contract="ServicioDelJuego.IEstadisticasGlobales" name="NetTcpBinding_IEstadisticasGlobales" />
		</client>
	</system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>