<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ModeloBDContainer" connectionString="metadata=res://*/ModeloBD.csdl|res://*/ModeloBD.ssdl|res://*/ModeloBD.msl;provider=System.Data.SqlClient;provider connection string='data source=AXELLUNA\SQLEXPRESS;initial catalog=DBHuntersTrophy;user id=UserHT;password=&quot;159753 lm&quot;;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IGestionUsuario">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8081/Service" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IGestionUsuario" contract="Servicio.IGestionUsuario"
        name="NetTcpBinding_IGestionUsuario" />
    </client>
  </system.serviceModel>
</configuration>